In [1]:
print("Zain")

Zain

In [3]:
a = "Zain"
a

'Zain'

In [4]:
a = 10
b = 15
c = a + b
c

25

In [5]:
c = a - b

In [6]:
c

-5

In [7]:
c = b - a

In [8]:
c

5

In [15]:
Table = int(input("Enter the table number"))
for a in range(1,11):
    print(f"{Table} * {a} = {a * Table}")

Enter the table number998
998 * 1 = 998
998 * 2 = 1996
998 * 3 = 2994
998 * 4 = 3992
998 * 5 = 4990
998 * 6 = 5988
998 * 7 = 6986
998 * 8 = 7984
998 * 9 = 8982
998 * 10 = 9980

In [19]:
Table = int(input("Enter the table number"))
for a in range(1,11):
    print(f"{Table} * {a} = {a * Table}")

Enter the table number3785
3785 * 1 = 3785
3785 * 2 = 7570
3785 * 3 = 11355
3785 * 4 = 15140
3785 * 5 = 18925
3785 * 6 = 22710
3785 * 7 = 26495
3785 * 8 = 30280
3785 * 9 = 34065
3785 * 10 = 37850

In [20]:
import numpy as np

In [21]:
import pandas as pd

In [22]:
Marks = {"Islamiat":18,"Urdu":22,"English":16,"science":19,"P.St":18,"Sindhi":20,"Math":15}

In [23]:
Marks

{'Islamiat': 18,
 'Urdu': 22,
 'English': 16,
 'science': 19,
 'P.St': 18,
 'Sindhi': 20,
 'Math': 15}

In [28]:
a = pd.DataFrame(Marks,index=["Zain"])

In [29]:
a

      Islamiat  Urdu  English  science  P.St  Sindhi  Math
Zain        18    22       16       19    18      20    15

In [32]:
a["Total"] = a["Islamiat"] + a["Urdu"] + a["English"] + a["Sindhi"] + a["P.St"] + a["science"]

In [33]:
a

      Islamiat  Urdu  English  science  P.St  Sindhi  Math  Total
Zain        18    22       16       19    18      20    15    113

In [42]:
a["Percentage"] = a["total"]/100

KeyError: 'total'

In [36]:
a

      Islamiat  Urdu  English  science  P.St  Sindhi  Math  Total
Zain        18    22       16       19    18      20    15    113

In [43]:
Table = int(input("Enter the table number"))
for a in range(1,11):
    print(f"{Table} * {a} = {a * Table}")

Enter the table number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [44]:
Table = int(input("Enter the table number"))
for a in range(1,11):
    print(f"{Table} * {a} = {a * Table}")

Enter the table number121
121 * 1 = 121
121 * 2 = 242
121 * 3 = 363
121 * 4 = 484
121 * 5 = 605
121 * 6 = 726
121 * 7 = 847
121 * 8 = 968
121 * 9 = 1089
121 * 10 = 1210

In [45]:
Table = int(input("Enter the table number"))
for a in range(1,11):
    print(f"{Table} * {a} = {a * Table}")

Enter the table number1000
1000 * 1 = 1000
1000 * 2 = 2000
1000 * 3 = 3000
1000 * 4 = 4000
1000 * 5 = 5000
1000 * 6 = 6000
1000 * 7 = 7000
1000 * 8 = 8000
1000 * 9 = 9000
1000 * 10 = 10000

In [46]:
Table = int(input("Enter the table number"))
for a in range(1,11):
    print(f"{Table} * {a} = {a * Table}")

Enter the table number1133216
1133216 * 1 = 1133216
1133216 * 2 = 2266432
1133216 * 3 = 3399648
1133216 * 4 = 4532864
1133216 * 5 = 5666080
1133216 * 6 = 6799296
1133216 * 7 = 7932512
1133216 * 8 = 9065728
1133216 * 9 = 10198944
1133216 * 10 = 11332160