# NUMPY

In [9]:
import numpy as np
oneD = np.array([1,2,3,4,5,6,7,8,9,0]) #vector
oneD

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [10]:
type(oneD)

numpy.ndarray

In [11]:
oneD.ndim

1

In [12]:
zerroD = np.array(100)   #scalar
zerroD

array(100)

In [13]:
zerroD.ndim

0

In [14]:
twoD = ([[100]]) #tw0 dimentional
twoD

[100]

In [15]:
threeD = ([[[100]]]) #three dimentional
threeD

[[[100]]]

# NUMPY ARANGE FUNCTION

In [20]:
A = np.arange(10)
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [22]:
B = np.arange(10).reshape(1,10)
B

array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [23]:
C = np.arange(10).reshape(2,5)
C

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [37]:
D = np.arange(21).reshape(3,7)
D

array([[ 0,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19, 20]])

In [38]:
D.shape

(3, 7)

In [44]:
E = np.array([[[1,2],[2,3],[3,4],[4,5]],[[1,2],[2,3],[3,4],[4,5]],[[1,2],[2,3],[3,4],[4,5]]])
E

array([[[1, 2],
        [2, 3],
        [3, 4],
        [4, 5]],

       [[1, 2],
        [2, 3],
        [3, 4],
        [4, 5]],

       [[1, 2],
        [2, 3],
        [3, 4],
        [4, 5]]])

# DATA TYPE

In [59]:
import numpy as np
a = np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [60]:
a.dtype

dtype('int32')

In [61]:
a = ([1.5,2,3.2,4])
a

[1.5, 2, 3.2, 4]

In [66]:
a.astype

In [96]:
alist = [1,2,3,4,5,6,7,8,9]
alist
def "num"
alist.append(num*5)

SyntaxError: invalid syntax (<ipython-input-96-d3cb4d85249f>, line 3)

In [83]:
alist = np.arange(10)
alist

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [84]:
alist*5

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45])

In [99]:
alist = np.arange(1,21).reshape(4,5)
alist

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [100]:
t1 = np.random.randn(2,3)
t1

array([[ 1.50723193,  1.53087574, -0.41815857],
       [ 0.73476647,  0.0515961 , -1.28780772]])

In [101]:
t3 = np.random.randn(3,2)
t3

array([[ 0.00514366, -0.18319458],
       [-0.16670509, -0.93246444],
       [ 1.04286839,  0.59348588]])

In [102]:
t1@t3     #to multiply but mirror shape only,1st type

array([[-0.68353645, -1.95177511],
       [-1.34783591, -0.94701246]])

In [103]:
np.dot(t1,t3) #2nd type

array([[-0.68353645, -1.95177511],
       [-1.34783591, -0.94701246]])

In [104]:
t1.dot(t3) #3rd type

array([[-0.68353645, -1.95177511],
       [-1.34783591, -0.94701246]])

In [113]:
zeeros = np.zeros((10,10))
zeeros

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [115]:
ones = np.ones((5,5))*10
ones

array([[10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.]])

In [120]:
empty = np.empty((4,4))

In [121]:
empty

array([[6.23042070e-307, 4.67296746e-307, 1.69121096e-306,
        1.24610994e-306],
       [1.11256817e-306, 1.06811422e-306, 1.42417221e-306,
        1.11260619e-306],
       [8.90094053e-307, 1.86919378e-306, 1.06809792e-306,
        1.37962456e-306],
       [1.69111861e-306, 1.78020169e-306, 1.37961777e-306,
        7.56599807e-307]])

In [126]:
eye np.eye((4,5))

SyntaxError: invalid syntax (<ipython-input-126-d2f189168a5d>, line 1)

In [135]:
t1

array([[ 1.50723193,  1.53087574, -0.41815857],
       [ 0.73476647,  0.0515961 , -1.28780772]])

In [129]:
oneslike = np.ones_like(t1)
oneslike

array([[1., 1., 1.],
       [1., 1., 1.]])

In [130]:
zeeroslike = np.zeros_like(t1)

In [132]:
zeeroslike

array([[0., 0., 0.],
       [0., 0., 0.]])

In [133]:
emptylike = np.empty_like(t1)

In [134]:
emptylike

array([[0., 0., 0.],
       [0., 0., 0.]])

In [136]:
t1[t1>5] # it will show the only true values

array([], dtype=float64)

In [137]:
t1>5 #just will tell true or false

array([[False, False, False],
       [False, False, False]])

In [139]:
list = [1,2,3,4,5,6,7,8,9]

In [140]:
list[5]

6

In [141]:
type(list[5])

int

In [142]:
list[1:5]

[2, 3, 4, 5]

# SLICING

In [157]:
P = np.arange(100).reshape(10,10)

In [158]:
P

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [159]:
P[5,4]

54

In [160]:
P[5][4]

54

In [163]:
#formula
#P[   raw  ,  column ]
#p[srat:end,start:end]

In [170]:
P[6:7,1:9]

array([[61, 62, 63, 64, 65, 66, 67, 68]])

In [171]:
arr = np.arange(1,37).reshape(6,6)

In [172]:
arr

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [173]:
arr[4] #one dimentional

array([25, 26, 27, 28, 29, 30])

In [174]:
arr[4:5,0:7] # two dimentional

array([[25, 26, 27, 28, 29, 30]])

In [176]:
arr[4,:] #one dimentional

array([25, 26, 27, 28, 29, 30])

In [177]:
arr[4:,]

array([[25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [178]:
arr[4:,:]

array([[25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [181]:
arr[4,:]

array([25, 26, 27, 28, 29, 30])

In [182]:
arr[:,4]

array([ 5, 11, 17, 23, 29, 35])

In [183]:
arr[0:6,5]

array([ 6, 12, 18, 24, 30, 36])

In [184]:
arr[0:6,5:6]

array([[ 6],
       [12],
       [18],
       [24],
       [30],
       [36]])

In [185]:
arr[0:6,5]

array([ 6, 12, 18, 24, 30, 36])

In [8]:
import numpy as np
S = np.arange(50).reshape(5,10)
S

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [12]:
S[0:4,1:8]

array([[ 1,  2,  3,  4,  5,  6,  7],
       [11, 12, 13, 14, 15, 16, 17],
       [21, 22, 23, 24, 25, 26, 27],
       [31, 32, 33, 34, 35, 36, 37]])

In [16]:
S[0:4,1:8:2]

array([[ 1,  3,  5,  7],
       [11, 13, 15, 17],
       [21, 23, 25, 27],
       [31, 33, 35, 37]])

In [17]:
Q = np.arange(50).reshape(2,5,5)

In [18]:
Q

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]]])

In [39]:
Q[1][0:2][0:2]

array([[25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34]])

In [19]:
Q.shape

(2, 5, 5)

In [21]:
Q[0][3][2]

17

In [23]:
Q[1][0:5][1]

array([30, 31, 32, 33, 34])

In [25]:
Q[0][3]

array([15, 16, 17, 18, 19])

In [40]:
Q (0,3,2)

TypeError: 'numpy.ndarray' object is not callable

# BOOLEAN INDEXING

In [6]:
import numpy as np
bolarr = np.arange(64).reshape(8,8)
bolarr

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [109]:
let.any()

AttributeError: 'str' object has no attribute 'any'

In [7]:

bolarr = np.array([true,false,true,false,true,false,true,false],dtype = "bool")

NameError: name 'true' is not defined

In [81]:
cond = (bolarr = "yes") | (bolarr = "no")
data [~cond]

SyntaxError: invalid syntax (<ipython-input-81-653b4996c036>, line 1)

In [103]:
let.T

AttributeError: 'str' object has no attribute 'T'

# 6-10-19

In [8]:
d3 = np.arange(50).reshape(2,5,5)

In [9]:
d3

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]]])

# indexing 3D

In [10]:
d3[1,2,1]

36

In [11]:
d3[1]

array([[25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [12]:
d3[0,2:4,1:3]#2dimentional

array([[11, 12],
       [16, 17]])

In [13]:
d3[0:1,2:4,1:3]#3dimentional

array([[[11, 12],
        [16, 17]]])

In [15]:
d3[1:2,4:5,0:5]

array([[[45, 46, 47, 48, 49]]])

In [16]:
d3[1:,4:,]

array([[[45, 46, 47, 48, 49]]])

In [17]:
d3[0:,2:4,1:3]

array([[[11, 12],
        [16, 17]],

       [[36, 37],
        [41, 42]]])

In [23]:
d3[1,:,-2:-1]

array([[28],
       [33],
       [38],
       [43],
       [48]])

In [24]:
x = np.array([[1,2,3]])
y = np.array([[1],[2],[3]])

In [25]:
x.shape, y.shape

((1, 3), (3, 1))

In [26]:
x,y=np.broadcast_arrays(x,y)

In [27]:
x

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [28]:
y

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [29]:
x+y

array([[2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

# PANDAS